/* BASIC STYLES HERE */


body{
  background-size: cover;
  background-position: center;
  background-color: black;
  color: black;
}
p{
  margin: 0;
}

/* light */
#background-author{
  background-color: rgba(131, 130, 130, 0.702);
}

